<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <!-- Diretórios -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="CompanyFolder" Name="CorpMonitor">
          <Directory Id="INSTALLFOLDER" Name="Extension">
            <Directory Id="IconsFolder" Name="icons" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <!-- ===== COMPONENTES DE ARQUIVOS ===== -->
    <!-- NOTA: Todos os GUIDs abaixo devem ser únicos. Use PowerShell: [guid]::NewGuid() -->
    
    <ComponentGroup Id="ExtensionFiles" Directory="INSTALLFOLDER">
      
      <!-- Arquivos raiz da extensão -->
      <Component Id="ManifestJson" Guid="[PREENCHER_GUID_1]">
        <File Id="manifest.json" Source="source\extension\manifest.json" KeyPath="yes" />
      </Component>
      
      <Component Id="BackgroundJs" Guid="[PREENCHER_GUID_2]">
        <File Id="background.js" Source="source\extension\background.js" KeyPath="yes" />
      </Component>
      
      <Component Id="ContentJs" Guid="[PREENCHER_GUID_3]">
        <File Id="content.js" Source="source\extension\content.js" KeyPath="yes" />
      </Component>
      
      <Component Id="PopupHtml" Guid="[PREENCHER_GUID_4]">
        <File Id="popup.html" Source="source\extension\popup.html" KeyPath="yes" />
      </Component>
      
      <Component Id="PopupJs" Guid="[PREENCHER_GUID_5]">
        <File Id="popup.js" Source="source\extension\popup.js" KeyPath="yes" />
      </Component>
      
      <Component Id="OptionsHtml" Guid="[PREENCHER_GUID_6]">
        <File Id="options.html" Source="source\extension\options.html" KeyPath="yes" />
      </Component>
      
      <Component Id="OptionsJs" Guid="[PREENCHER_GUID_7]">
        <File Id="options.js" Source="source\extension\options.js" KeyPath="yes" />
      </Component>
      
      <Component Id="ConfigJs" Guid="[PREENCHER_GUID_8]">
        <File Id="config.js" Source="source\extension\config.js" KeyPath="yes" />
      </Component>
      
      <Component Id="DebugConsoleJs" Guid="[PREENCHER_GUID_9]">
        <File Id="debug_console.js" Source="source\extension\debug-console.js" KeyPath="yes" />
      </Component>
      
      <Component Id="ServiceWorkerUtilsJs" Guid="[PREENCHER_GUID_10]">
        <File Id="service_worker_utils.js" Source="source\extension\service-worker-utils.js" KeyPath="yes" />
      </Component>
      
      <Component Id="PrivacyPolicyHtml" Guid="[PREENCHER_GUID_11]">
        <File Id="privacy_policy.html" Source="source\extension\privacy-policy.html" KeyPath="yes" />
      </Component>
      
      <!-- Offscreen documents -->
      <Component Id="OffscreenHtml" Guid="[PREENCHER_GUID_17]">
        <File Id="offscreen.html" Source="source\extension\offscreen.html" KeyPath="yes" />
      </Component>

      <Component Id="OffscreenJs" Guid="[PREENCHER_GUID_18]">
        <File Id="offscreen.js" Source="source\extension\offscreen.js" KeyPath="yes" />
      </Component>
      
    </ComponentGroup>
    
    <!-- Componentes de ícones (pasta icons/) -->
    <ComponentGroup Id="ExtensionIcons" Directory="IconsFolder">
      
      <Component Id="Icon16" Guid="[PREENCHER_GUID_12]">
        <File Id="icon16.png" Source="source\extension\icons\icon16.png" KeyPath="yes" />
      </Component>
      
      <Component Id="Icon32" Guid="[PREENCHER_GUID_13]">
        <File Id="icon32.png" Source="source\extension\icons\icon32.png" KeyPath="yes" />
      </Component>
      
      <Component Id="Icon48" Guid="[PREENCHER_GUID_14]">
        <File Id="icon48.png" Source="source\extension\icons\icon48.png" KeyPath="yes" />
      </Component>
      
      <Component Id="Icon128" Guid="[PREENCHER_GUID_15]">
        <File Id="icon128.png" Source="source\extension\icons\icon128.png" KeyPath="yes" />
      </Component>
      
      <Component Id="BaseIcon" Guid="[PREENCHER_GUID_16]">
        <File Id="base_icon.png" Source="source\extension\icons\base-icon.png" KeyPath="yes" />
      </Component>
      
    </ComponentGroup>
    
  </Fragment>
</Wix>
