<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    
    <!-- ========== CBCM (Chrome Browser Cloud Management) ========== -->
    <!-- Token de enrollment para gerenciamento centralizado do Chrome -->
    
    <!-- CBCM Keys 64-bit -->
    <ComponentGroup Id="CBCMKeys_x64" Directory="TARGETDIR">
      
      <!-- CloudManagementEnrollmentToken (64-bit) -->
      <Component Id="CBCMToken_x64" Guid="[PREENCHER_GUID_31]" Win64="yes">
        <Condition><![CDATA[CHROME_ENROLLMENT_TOKEN <> ""]]></Condition>
        <RegistryKey 
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome">
          
           <RegistryValue 
            Type="string" 
            Name="CloudManagementEnrollmentToken" 
            Value="[CHROME_ENROLLMENT_TOKEN]" 
            Action="write" 
            KeyPath="yes" />
        </RegistryKey>
        
        <RemoveRegistryKey 
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome" 
          Action="removeOnUninstall" />
      </Component>
      
      <!-- CloudManagementEnrollmentMandatory (64-bit) -->
      <Component Id="CBCMMandatory_x64" Guid="[PREENCHER_GUID_32]" Win64="yes">
        <Condition><![CDATA[CHROME_ENROLLMENT_TOKEN <> ""]]></Condition>
        <RegistryKey 
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome">
          
           <RegistryValue 
            Type="integer" 
            Name="CloudManagementEnrollmentMandatory" 
            Value="[CHROME_ENROLLMENT_MANDATORY]" 
            Action="write" 
            KeyPath="yes" />
        </RegistryKey>
        
        <RemoveRegistryKey 
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome" 
          Action="removeOnUninstall" />
      </Component>
      
    </ComponentGroup>
    
    <!-- CBCM Keys 32-bit (Wow6432Node) -->
    <ComponentGroup Id="CBCMKeys_x86" Directory="TARGETDIR">
      
      <!-- CloudManagementEnrollmentToken (32-bit) -->
      <Component Id="CBCMToken_x86" Guid="[PREENCHER_GUID_33]" Win64="no">
        <Condition><![CDATA[CHROME_ENROLLMENT_TOKEN <> ""]]></Condition>
        <RegistryKey 
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome">
          
           <RegistryValue 
            Type="string" 
            Name="CloudManagementEnrollmentToken" 
            Value="[CHROME_ENROLLMENT_TOKEN]" 
            Action="write" 
            KeyPath="yes" />
        </RegistryKey>
        
        <RemoveRegistryKey 
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome" 
          Action="removeOnUninstall" />
      </Component>
      
      <!-- CloudManagementEnrollmentMandatory (32-bit) -->
      <Component Id="CBCMMandatory_x86" Guid="[PREENCHER_GUID_34]" Win64="no">
        <Condition><![CDATA[CHROME_ENROLLMENT_TOKEN <> ""]]></Condition>
        <RegistryKey
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome">
          
           <RegistryValue 
            Type="integer" 
            Name="CloudManagementEnrollmentMandatory" 
            Value="[CHROME_ENROLLMENT_MANDATORY]" 
            Action="write" 
            KeyPath="yes" />
        </RegistryKey>
        
        <RemoveRegistryKey 
          Root="HKLM" 
          Key="SOFTWARE\Policies\Google\Chrome" 
          Action="removeOnUninstall" />
      </Component>
      
    </ComponentGroup>
    
  </Fragment>
</Wix>
